body {
  margin: 0;
  padding: 0;
}
.nav,
.map-section,
.promos {
  background-color: rgb(33, 39, 65);
}

/* nav START */
.nav {
  width: 100%;
  height: 8vh;
  position: fixed;
  color: #fafafa;
}
.fa-bars {
  position: absolute;
  font-size: 1.5rem;
  top: 30px;
  left: 25px;
}
.fa-search{
  position: absolute;
  font-size: 1.5rem;
  top: 30px;
  right: 25px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#yoobeeLogo {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  letter-spacing: .2rem;
}
/* nav END                  ---------------------------------*/

/* all content container */
.container {
  width: 100%;
  display: flex;
  height: 93vh;
  flex-wrap: wrap;
  padding-top: 7vh;
}

/* container left and right --------------------------------*/
.map-section,
.promos {
  width: 50%;
  height: 100%;
}

/* map section START */
.map-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-campus-btn,
.campus-list:hover {
  cursor: pointer;
}
.select-campus-section {
  width: 300px;
  height: 0;
  position: absolute;
  background-color: rgb(246, 66, 198)
}
.select-campus-btn {
  width: 100%;
  height: 80px;
  background-color: rgb(215, 215, 215);
  padding-bottom: 5px;
  border-bottom: 2px solid #333;
}
h1 {
  float: left;
}
.fa-angle-down {
  margin: 1.2rem 1rem 0 0;
  font-size: 2.5rem;
  float: right;
}
.campus-list {
  /* background-color: rgb(165, 231, 150); */
  height: 200px;
  width: 100%;
  display: none;
}
ul {
  text-align: center;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  border-bottom: 2px solid #333;
  font-size: 2rem;
  padding: 1rem;
}

/* map section END               ------------------------------*/


/* promos START */
.promos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-promo,
.small-cards {
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(27, 30, 50), -3px -3px 10px rgb(115, 127, 193);
}
.main-promo {
  margin: 25px 20px 0 20px;
  height: 30%;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.small-cards {
  margin: 10px 10px 0 5px;
  height: 250px;
  width: 250px;
}
/* promos END */

/* large screen viewport */
@media only screen and (min-width: 1300px) {
  .small-cards {
    flex-grow: 1;
    height: 290px;
    width: 290px;
    margin: 0 2% 0 2%;
  }
}

/* mobile/table viewport */
@media only screen and (max-width: 800px) {
  .map-section {
    height: 50vh;
  }
  .map-section,
  .promos {
    width: 750px;
  }
  .promos {
    height: 155vh;
  }
  .small-cards {
    width: 92.5%;
    margin-left: 10px;
  }
}
